/*--NAVBAR--*/
#main-navbar .navbar-brand {
    text-shadow: 1px 5px 2px black;
}
#main-navbar a {
    border-bottom: 5px solid#343a40;
    text-transform: uppercase;
}
#main-navbar a:hover, #main-navbar .active {
    border-bottom-color:#f7f4f4;
    transition: border-color 500ms;
}

/*--SHOWCASE--*/
#showcase {
    background: url('../img/showcase.jpg');
    height: 600px;
    padding-top: 150px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
#showcase h1 {
    padding-top: 250px;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
}